.wrap {
  /* ページ全体 */
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
}

.h1 {
  /* 見出し部分 */
  padding-left: 10%;
  color: #1f648b;
}

.form-wrap {
  /* form入力 */
  display: flex;
  justify-content: center;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

#schedule_content {
  height: 150px;
  width: 300px;
}

.form-delete {
  /* 登録削除のエリア */
  display: flex;
  justify-content: center;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #d31919;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.actions {
  /* submitエリア */
  padding-top: 20px;
}

.links {
  /* 下部のbackボタンエリア */
  display: flex;
  justify-content:flex-start ;
  padding-left: 10%;
  text-decoration: none;
}

.btn-1 {
  /* submitボタン */
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background-color: white;
}

.btn-1:hover {
  /* submitボタンの効果 */
  background: #67c5ff;
  color: white;
  text-decoration: none;
}

.button_to input {
  /* deleteボタン */
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ff8f8f;
  border: solid 2px #ff8f8f;
  border-radius: 3px;
  transition: .4s;
}

.button_to input:hover {
  /* deleteボタンの効果 */
  background: #ff8f8f;
  color: white;
}

/* btn-2 backボタン,  btn-3 login等のボタン */
.btn-2, .btn-3 {
  display: inline-block;
  padding: 0.5em 3em;
  text-decoration: none;
  color: #67c5ff;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-2:hover, .btn-3:hover {
  background: #fffbef;
  text-decoration: none;
}

.btn-2, .btn-3 {
  margin-left: 15px;
}

.error-message, .flash {
  list-style-type: none;
  color: #d31919;
}